Welcome to my pizza app! Let's build your custom pizza. 
<form method="post" action="/toppings">
    <p>Choose your size:</p>
    <p><input type = "radio" name = "my_size[]" value = "microscopic">Microscopic</p><img src="/img/microscopic.jpg"/>
    <p><input type = "radio" name = "my_size[]" value = "medium">Medium</p><img src="/img/medium.jpg"/>
    <p><input type = "radio" name = "my_size[]" value = "huge">Huge</p><img src="/img/huge.jpg"/>
    <p><input type = "radio" name = "my_size[]" value = "terroroftoyko">"Terror of Tokyo</p><img src="/img/terror.jpg"/>
    <p><input type = "radio" name = "my_size[]" value = "thatsnomoon">"Thats no moon</p><img src="/img/moon.jpg"/>

    <p>Choose your meat(s):</p>
    <p><input type = "checkbox" name = "my_meat[]" value = "sausage">Succulent Sausage</p><img src="/img/sausage.jpg"/>
    <p><input type = "checkbox" name = "my_meat[]" value = "ham">Heavenly Ham</p><img src="/img/ham.jpg"/>
    <p><input type = "checkbox" name = "my_meat[]" value = "pepperoni">Perfect Pepperoni</p><img src="/img/pepperoni.jpg"/>
    <p><input type = "checkbox" name = "my_meat[]" value = "turkey">OK Turkey</p><img src="/img/turkey.jpg"/>

    <p>Choose your veggie(s):</p>
    <p><input type = "checkbox" name = "my_veg[]" value = "mushroom">Mushroom</p><img src="/img/mushroom.jpg"/>
    <p><input type = "checkbox" name = "my_veg[]" value = "peppers">Peppers</p><img src="/img/peppers.jpg"/>
    <p><input type = "checkbox" name = "my_veg[]" value = "spinach">Spinch</p><img src="/img/spinach.jpg"/>
    <p><input type = "checkbox" name = "my_veg[]" value = "jordansblend">Jordan's Country Medley</p><img src="/img/jordansblend.jpg"/>

    <p>Choose your cheese(s):</p>
    <p><input type = "checkbox" name = "my_cheese[]" value = "american">American</p><img src="/img/american.jpg"/>
    <p><input type = "checkbox" name = "my_cheese[]" value = "pepperjack">Pepperjack</p><img src="/img/pepper_jack.jpg"/>
    <p><input type = "checkbox" name = "my_cheese[]" value = "cheesewiz">Cheese Wiz</p><img src="/img/cheezewiz.jpg"/>
    <p><input type = "checkbox" name = "my_cheese[]" value = "other">Other™</p><img src="/img/other.jpg"/>
    <p> <input type="submit"></p>
</form>