Here is your sandwich:
Size:
<%my_size_confirm.each do |value|%>
<p><%=value.to_s%></p>
<%end%>
Meat:
<%my_meat_confirm.each do |value|%>
<p><%=value.to_s%></p>
<%end%>
Veggies:
<%my_veg_confirm.each do |value|%>
<p><%=value.to_s%></p>
<%end%>
Cheese:
<%my_cheese_confirm.each do |value|%>
<p><%=value.to_s%></p>
<%end%>